.table{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.table .item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 42px;
  background-color: aqua;
  list-style-type: none;
}

.table .columns:nth-child(5){
  width: min-content(80vw);
}

.table .item:has(.trains){
  justify-content: start;
}

.trains{
  display: flex;
  gap: 2px;
  padding: 0 3px;
}



.train{
  display: flex;
  flex-direction: column;
}

.train span{
  position: absolute;
  font-size: 9px;
  transform: translate(18px, 5px);
  font-weight: 700;
  color: rgb(145, 0, 0);
}

.train img{
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.nothing{
  display: none;
}

.table .info{
  grid-row-start: 1;
  grid-row-end: 2;
}

.table .info span{
  display: flex;
  background-color: #B1ADC2;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 10px 5px 10px 10px;
  width: 30px;
  align-items: center;
  justify-content: center;
  height: 230px;
}

.RightB{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.RightB p{
  position: absolute;
  background-color: #EF7812;
  width: 233px;
  font-size: 13px;
}

.RightB h1{
  font-size: 16px;
}

.RightB .infor{
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}
.RightB .infor div{
  display: flex;
  justify-content: space-between;
}

.FlyTrain{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.FlyTrain span{
  position: absolute;
  z-index: 1;
  font-size: 9px;
  transform: translate(18px, 5px);
  font-weight: 700;
  color: rgb(145, 0, 0);
}