.table{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}
.table .item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 42px;
  background-color: aqua;
}

.trains{
  display: flex;
  gap: 2px;
}

.train{
  display: flex;
  flex-direction: column;
}

.train span{
  position: absolute;
  font-size: 9px;
  transform: translate(18px, 10px);
  font-weight: 700;
}

.table .info{
  grid-row-start: 1;
  grid-row-end: 2;
}

.table .info span{
  display: flex;
  background-color: #B1ADC2;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 10px 5px 10px 10px;
  width: 30px;
  align-items: center;
  justify-content: center;
  height: 230px;
}

