*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(180, 180, 180);    /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid rgb(180, 180, 180);  /*padding вокруг плашки*/
}

:root{
  --ATL: #FFB762;
  --FGK: #FFF3B4;
  --GK: #C8F4C1;
  --MEC: #ACCDFF;
  --MOD: #C5AAFF;
  --NPK: #FDF0EF;
  --NTS: #BCF3FF;
  --KONTRAGENT: #72BE7E;
  --OTHER: #fff;
  --PGK: #FFBEFC;
  --RGD: #ABABAB;
}

.table{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.table .header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 42px;
  list-style-type: none;
  gap: 5px;
  padding: 0 5px;
}

.table .item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 42px;
  list-style-type: none;
  gap: 5px;
  padding: 0 5px;
  border-bottom: 2px solid #B1ADC2;
}

.mec{
  border: 1px solid #D5D5D9;
}

.table .columns:nth-child(5){
  min-width: 70vw;
}

.table .item:has(.trains){
  justify-content: start;
}

.trains{
  display: flex;
  gap: 2px;
  padding: 0 3px;
}



.train{
  display: flex;
  flex-direction: column;
  font-size: 9px;
  font-weight: 700;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.train .num{
  position: absolute;
  transform: translate(18px, 6px);
  color: rgb(145, 0, 0);
}

.train .pos{
  position: absolute;
  transform: translate(4px, 9px);
}

.train img{
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

/* .nothing{
  display: none;
} */

.table .info{
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
}

.table .info span{
  display: flex;
  background-color: #B1ADC2;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 10px 5px 10px 10px;
  width: 30px;
  align-items: center;
  justify-content: center;
  height: 312px;
}

.RightB{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.RightB p{
  position: absolute;
  background-color: #5D636D;
  width: 233px;
  font-size: 13px;
  padding: 11px 5px;
  border-radius: 10px;
}
.RightB p::before{
  position: absolute;
  content: '';
  background-color: inherit;
  width: 10%;
  height: 10%;
  left: 0;
  top: 0;

}


.RightB h1{
  font-size: 16px;
  text-align: center;
}

.RightB .infor{
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}
.RightB .infor div{
  display: flex;
  justify-content: space-between;
}

.RightB .infor div:nth-child(7){
  justify-content: center;
}
.RightB .infor div:nth-child(7) span{
  background-color: rgb(203, 203, 203);
  border: 2px solid red;
  margin-top: 4px;
  padding: 2px;
}

.FlyTrain{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.FlyTrain span{
  position: absolute;
  z-index: 1;
  font-size: 9px;
  transform: translate(18px, 5px);
  font-weight: 700;
  color: rgb(145, 0, 0);
}



/* --------------------------------------------------- */




@font-face {
  font-family: 'FG';
  src: url('../../public/fonts/FranklinGothic.ttf');
  font-display: swap;
}

/* @font-face{
font-family: 'GT';
src: url('../public/fonts/gt_reg.otf');
font-display: swap;
} */

.main{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.20);
}

form{
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.logo{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}



.title{
  display: flex;
  gap: 16px;
  color: #2F2E34;
  font-size: 18px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 120%;
}

.title p{
   padding: 12px 16px;
}

.auth{
  font-size: 24px;
}
.sep{
  height: 2px;
  background-color: #E8E6ED;
  width: 100%;
}

.inputs select{
  border-radius: 4px;
  font-size: 14px;
  padding: 17px 110px 17px 10px;
}

.inputs p{
  color: #808080;
}

.inputs input{
  width: 100%;
  border-radius: 4px;
  padding: 17px 110px 17px 18px;
}

.glaz{
  position: absolute;
  transform: translate(-30px, 15px);
}

form .submit{
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: #FF9337;
  width: 100%;
  text-align: center;
  color: white;
}







/* -------------------------------- */

.basic{
padding: 20px;
font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.first-line{
display: flex;
gap: 20px;
}

.first-line p:nth-child(3){
color: #868686;
}

.first-line p:nth-child(2){
padding-right: 10px;
}

.second-line{
padding: 16px 0;
display: flex;
justify-content: space-between;
font-family: 'GT';

}

.second-l{
display: flex;
gap: 20px;
}

/* .stations{
display: flex;
padding: 0px 16px;
align-items: center;
gap: 16px;
border: 2px solid #808080;
border-radius: 4px;
} */

.slotOfSecondL{
display: flex;
align-items: center;
}

.second-r{
display: flex;
gap: 10px;
}

.sep-v{
width: 2px;
height: 100%;
background-color: #808080;
}

.vagon{
display: flex;
align-items: center;
gap: 3px;
}

.filter{
display: flex;
}

.filter div{
position: absolute;
transform: translate(15px, -4px);
font-size: 12px;
text-align: center;
width: 17px;
border-radius: 50rem;
background-color: #EF7812;
color: white;
border: 2px solid white;
}

.third-line{
display: flex;
justify-content: space-between;
/* font-weight: 100; */
}

.third-l{
display: flex;
gap: 16px;
align-items: center;
}
.third-r{
display: flex;
gap: 15px;
}

.third-r div{
position: absolute;
transform: translate(170px, -4px);
font-size: 12px;
text-align: center;
width: 17px;
border-radius: 50rem;
background-color: #EF7812;
color: white;
/* border: 2px solid white; */
}

.fourth-line{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: rgb(244, 244, 244);
/* font-family: 'GT'; */
}

.item-fl{
display: flex;
align-items: center;
gap: 2px;
margin: 0 7px;
/* color: #cacaca; */
}

.fifth-line div{
display: flex;
justify-content: end;
align-items: center;
}

.fifth-line input{
padding: 5px;
}

.fifth-line input+div{
  background-color: #15386c;
  color: white;
  padding: 6px;
}

.fifth-line{
display: flex;
justify-content: center;
gap: 15px;
/* font-family: 'GT'; */
}

.quadro{
width: 24px;
height: 24px;
}

.locomotive img{
  padding-top: 14px;
}

.locomotive span{
  position: absolute;
  font-size: 11px;
  transform: translate(-26px, 2px);  
}

.infoform {
  /* width: 100%;
  background-color: #dedede;
  opacity: 0.4; */
  position: absolute;
  z-index: 2;
  background-color: white;
}

